<?xml version="1.0" encoding="utf-8"?>
<module
	loadFromBin="false"
	clientResourceRelativePath=""
	viewEngine="Razor"
	authorizationPolicy="episerver:cmsedit"
	name="MapCore"
	productName="Open Maps Editor">

	<assemblies>
		<add assembly="MapCore" />
	</assemblies>

	<dojo>
		<!-- Add a mapping for the dojo loader configuration -->
		<paths>
			<add name="openmapseditor" path="ClientResources/openmapseditor" />
		</paths>
	</dojo>

</module>
