@page
@using EPiServer.Web.Mvc.Html;
@using DemoSite;
@model MapPageTypeModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Open Maps Editor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@picocss/pico@1/css/pico.min.css">
</head>
<body>
    <main class="container">
        <h1>Select the edit view in the top right!</h1>
    </main>
</body>
</html>